@font-face {
    font-family: "Oregano-Regular";
    src: url("../assets/fonts/Oregano/Oregano-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oregano-Italic";
    src: url("../assets/fonts/Oregano/Oregano-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Katibeh";
    src: url("../assets/fonts/Katibeh/Katibeh-Regular.ttf") format("truetype");
}

