@use "./partials/text";
@use "./partials/couleur";

//Version Desktop
@media screen and (min-width: 768px) {
   body {
    background-color: var(--pourpre);
    display: grid;
    grid-template-areas:
    "hero hero hero"
    "sidebar projets projets"
    "sidebar a_propos a_propos"
    "sidebar contactes contactes"
    ;
    & .sidebar {
        background-color: var(--pale-creme);

        grid-area: sidebar;
    }
    & .hero{
        position: relative;
        background-color: var(--pourpre);
        color: var(--creme);
        grid-area: hero;
        .intro{
            position: absolute;
            right: 5%;
            h1{
                font-size: 110px;
            }
            p{
                font-size: 64px;
                padding-left: 20%;
            }
        }
    }
    & .projets {
        background-color: var(--pourpre);
        color: var(--creme);
        padding: 10% 10%;
        grid-area: projets;
    }
    .a_propos {
        background-color: var(--pourpre);
        color: var(--creme);
        & .liste_competences {
            width: 100%;
        }
    }
    & .contactes {
        background-color: var(--brown);
        color: var(--creme);
        grid-area: contactes;
    }
   } 
}
//Version Tablette
@media screen and (min-width: 375) and (max-width: 768) {
    .sidebar {
        display: none;
    }
}
//version Mobile
@media screen and (max-width: 375px) {
    .sidebar {
        display: none;
    }
}